footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.profile-pic {
  border-radius: 50%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
}

#banner {
    background-image: url("images/banner.jpeg");
    backdrop-filter: opacity(30%);
    object-fit: cover;
    object-position: 0% 50%;
    background-color: gray;
    background-position: 0% 0%;
    background-size: cover;
}

.divi {
    height: 600px;
}

.divi-light {
  background-color: white;
  color: black;
  min-height: 400px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: fit-content;
}

.divi-dark {

  background-color: gray;
  color: white;
  min-height: 300px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: fit-content;
}

.centerv {
  position: relative;
  top: 50%;
  /* -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.divi-text {
  width: 50%;
  font-size: 2vmin;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.proyecto {
  padding-top: 1rem;
}

.proyecto img {
  display: block;
  margin: auto;
  width: 80%;
  height: 20rem;
  object-fit: cover;

}

.div-img {
  position: relative;
  display: block;
  margin: auto;
  height: 40%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #202020AA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.interest-div:hover .overlay {
  height: 100%;
}

.interest-div .text {
  visibility: visible;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.interest-div img {
  display: block;
  object-fit: cover;
  object-position: 50% 50%;
  height: 400px;
}

.hobbie-div {
  border-bottom: 2px solid darkgray;
}

.hobbie-div h3{
  font-size: 3vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hobbie-div p {
  padding-left: 20px;
  padding-right: 20px;
}

.skils-table {
  width: 80%;
  margin: 100px;
}

#professional {
  background-color: darkgrey;
  padding-bottom: 30px;
}

#professional img {
  display: block;
  margin: auto;
  padding-top: 20px;
  height: 200px;
  width: 200px;
  object-fit: scale-down;
}

#academic {
  padding-bottom: 30px;
}

#academic .card {
  margin: auto;
  max-width: 800px;
}

#academic img {
  display: block;
  margin: auto;
  padding-top: 20px;
  height: 200px;
  width: 200px;
  object-fit: scale-down;
}

.redes {
  display: table;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: black;
}

.fa:hover {
  text-decoration: none;
}